<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openhome">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- needed for Android 4.0.x and eariler -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.RegistrationActivity"
            android:parentActivityName=".activity.LoginActivity"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.DashboardActivity"
            android:parentActivityName=".activity.LoginActivity"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.PropertyDetailsActivity"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".activity.ScannerActivity"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".activity.ProfileImageUploaderActivity"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".activity.AgentListingsActivity"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.MapsActivity"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MapsActivity" />
        </activity>
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.PrivacyPolicyActivity"
            android:parentActivityName=".activity.DashboardActivity"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DashboardActivity" />
        </activity>

        <service
            android:name=".BackgroundService.LocationUpdateService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.ActivePropertyHazardActivity" />
        <activity android:name=".activity.VisitorRegisterFormActivity"
            android:parentActivityName=".activity.ScannerActivity"></activity>
    </application>

</manifest>